  ////////////////////////////////
 // BUTTONS  ////////////////////
////////////////////////////////

[data-role="button"]{

    background: $buttonBG;
    @include box-shadow(1px 2px 3px rgba(0, 0, 0, .3));
    color: $buttonColor;
    display: inline-block;
    @include font-size(18px);
    font-weight: bold;
    padding:10px;
    text-align: center;
    width: 100%;
    &:hover,
    &:active,
    &:focus,
    &:visited{
        text-decoration:none;

    }

    &:hover{
        background: darken($strokeBG, 10%);
        color : $buttonHoverColor;
        transition: .2s;
    }

    &:active,
    &:focus{
       background: darken($strokeBG, 15%);
       color : $buttonHoverColor;

    }

    &::-moz-focus-inner {
        border: 0;
        padding: 0;
    }
}

