  ////////////////////////////////
 // COLOR PALLETE ///////////////
////////////////////////////////

// Global Colors
$siteBG : #FFF;
$strokeBG : #b265a6;
$textColor : #6d6e6c;
$white: #FFF;
$black : #000;

// Header Colors
$headerBG : #FFF;
$headerLinkColor : #b265a6;

// Footer Colors
$footerBG : rgba(178, 101, 166, .5);

// Hero Colors 
$heroVerticalCallOutBG : rgba(178, 101, 166, .47);
$heroRightCallOutBG : rgba(255, 255, 255, .2);

// Lower Callouts
$middleCallOutBG : rgba(198, 156, 109, .3);

// Button Colors
$buttonBG : #03fcff;
$buttonHoverBG : rgba(41, 187, 189, 1);
$buttonColor : #55086b;
$buttonHoverColor : #FFF;

// H1, H2, H3 ..
$headerColor : #55086b;

